POSTGRES_DB=ovsa
POSTGRES_USER=ovsa
POSTGRES_PASSWORD=ovsa_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

API_HOST=0.0.0.0
API_PORT=8001
WEB_PORT=3001

NEXT_PUBLIC_API_BASE_URL=http://localhost:8001

DATA_PROVIDER_MODE=sample
FMP_API_KEY=
FMP_BASE_URL=https://financialmodelingprep.com/stable
SEC_USER_AGENT=
DISPLAY_USD_KRW_RATE=
